/*RESET*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
ul,ol, menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    max-width: 100%;
    display: block;
}
body{
    font-family: "Lato", sans-serif;
}

input, textarea{
    border: none;
    background: transparent;
}

/*LAYOUT*/
#app{
    height: 100vh;
}

.container{
    height: 100%;
}

.sidebar{
    display: none;
}

.emoticon, .mic{
    display: none;
}

.row{
    display: flex;
    height: 100%;
}

/*COMPONENTS*/

i {
    color: #B1B1B1;
}

.notify-bell i{
    text-align: center;
    color: #A6D7F9;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 53px;
    line-height: 53px;
}

.notification a{
    text-decoration: underline;
    color:#6D7376;
}

/*UTILITIES*/
.gap-14{
    gap: 14px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:20px;
}

.avatar{
    height: 53px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    
}

.contact-last-message,
.last-message-time, 
.text-time{
    color: #B1B1B1;
}

.search-text, 
.avatar-last-access{
    color: #6D7376;
}
.avatar-name, .contact-name{
    font-weight: 700;
}


/*STYLE*/
/*da 0 a 768px*/
#app{
    background: rgb(216,219,215);
    background: linear-gradient(180deg, rgba(77,147,136,1)180px, rgba(216,219,215,1)180px); 
}

/*SIDEBAR*/

.sidebar-nav{
    display:none;
    padding-right: 10px;
}

.sidebar .sidebar-header{
    height: 70px;
    padding: 10px 14px;
    background-color: #EAEAEA;
    border-right:1px solid #d9d9d9;
}

.contact-list{ 
    border-right: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.contact-list li:last-child{
    border-bottom: none; 
}

.sidebar-contacts{
    flex-grow: 1;
}

/*MAIN*/

.main-nav{
    height: 70px;
    background-color: #EAEAEA;
    
    min-width: 100%;
    padding: 6px 14px;

}
.app-main{
    display: flex;
    flex-direction: column;
}

.main-message{
    height: 70px;
    background-color: #F2EEEB;
    display: flex;
    min-width: 100%;
    padding: 10px 14px;
    align-items: center;
    gap: 10px;
}
textarea{
    width: 100%;
    height: 50px;
    background-color: white;
    outline: none;
    padding: 10px;
}
.main-tools{
    display:none;
    padding-right: 10px;
}

.text-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.drop{
    font-size: 11px;
}
.dropdown{
    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 12px;
}
.dropdown-content{
    position: absolute;
    display: none;
    z-index: 1;
    background-color: rgba(255, 249, 249, 0.5);
    color: #B1B1B1;
}
.dropdown:hover .dropdown-content{
    display: block; 
}

.send + .send, 
.get + .get{
    margin-top: -4px;
}
.chat-area{
    background-image: url(../img/mine.jpg);
    border-right: 15px solid white;
    min-width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 5% 6%;
}
.send{
    background-color: #a6f9bf;
    border-radius: 11px;
    padding: 6px;
    margin: 10px 0;
    align-self: flex-end;
    display: flex;
    gap: 5px;
    max-width: 70%;
}

.get{
    background-color: white;
    border-radius: 11px;
    padding: 6px;
    margin: 10px 0;
    align-self: flex-start;
    display: flex;
    gap: 5px;
    max-width: 70%;
}
.text-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.timing{
    font-size: 10px;
    color: #b1b1b1;
}

/*MEDIA QUERY*/

/*da 768px a 992px*/

@media (min-width:768px){

   
    .sidebar{
        display: flex;
        flex-direction: column;
        width: 80px;
        background-color: #FAFAFA;
        flex-shrink: 0;

    }
    .contact-sidebar-info, .last-message-time{
        display: none;
    }
    
    .main-tools{
        display: block;
    }
    .emoticon, .mic{
        display: block;
    }
    .message-notification, 
    .sidebar-search {
        display: none;
    }
    .contact-card{
        background-color: white;
        border-bottom: 1px solid #FAFAFA;
        padding: 7px 14px;
    }
    
    .col-5{
        width: 50px;
        text-align: center;
    }
    .col-90{
        flex-grow: 1;
    }
    
}

/*da 992px in su*/

@media (min-width:992px){

    #app{
        padding: 3vh 0;
    }
    .container-lg{
        width: 80%;
        margin: 0 auto;
    }
  
    .sidebar{
        width: 380px;
    }
    .contact-card{
        gap: 14px;
    }
    .contact-sidebar-info{
        display: block;
        flex-grow: 1;
    }
    .last-message-time{
        display: block;
        align-self: flex-start;
    }
   
   
    
    .sidebar-nav{
        display: block;
    }
    .message-notification{
        display: flex;
        align-items: center;
        background-color: #A6D7F9;
        padding: 10px 14px;
        gap: 14px;
    }
    .sidebar-contacts{
        background-color: #FAFAFA;
        
    }
    .sidebar-search{
        display: block;
        position: relative;
        margin: 10px 0;
        
    }
   .sidebar-search input {
        width: 100%;
        height: 30px;
        background-color: white;
        outline: none;
        border-top: 1px solid #B1B1B180;
        border-bottom: 1px solid #B1B1B180;
        padding-left: 50px;
        padding-right: 10px;
   }
    .sidebar-search i {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        pointer-events:none;
    }
    .contact-list{
        margin-right: 14px;
    }
  
}
.not-visible{
    display:none;
}