<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/871901a0d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/app.css">
    <title>Boolzapp</title>
</head>

<body>
    <div id="app">
        <div class="container container-lg">
            <div class="row">

                <!--inizio sidebar-->
                <section class="sidebar">

                    <!--sidebar-header-->
                    <div class="sidebar-header flex">
                        <div class="mine-avatar">
                            <img class="avatar" src="./img/avatar_io.jpg" alt="">
                        </div>
                        <div class="sidebar-nav">
                            <ul class="flex">
                                <li><a href="#"><i class="fa-solid fa-circle-notch"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-message"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--fine sidebar-header inizio message-notification-->
                    <div class="message-notification">
                        <div class="notify-bell"><i class="fa-solid fa-bell-slash"></i></div>
                        <div class="notification">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">attiva notifiche desktop</a>
                        </div>

                    </div>
                    <!--fine message-notification inizio sidebar-contacts-->
                    <div class="sidebar-contacts">

                        <div class="sidebar-search">
                            <input type="text" name="search" placeholder="Cerca o inizia una nuova chat" @keyup.enter="search"
                                v-model="searchContact" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <ul class="contact-list">
                            <li v-for="(contact, i) in contacts"
                            @click="activeContacts(i)"
                            
                            :class="contact.visible !== true ? 'not-visible' : ''">
                                <div class="contact-card flex" :class="i === currentContactindex ? 'active' : ''">
                                    <div class="contact">
                                        <img class="avatar" :src="contact.avatar" alt="">
                                    </div>
                                    <div class="contact-sidebar-info">
                                        <div class="contact-name">{{contact.name}}</div>
                                        <div class="contact-last-message">Lorem ipsum dolor sit.</div>
                                    </div>
                                    <div class="last-message-time">16:15</div>
                                </div>
                            </li>

                        </ul>

                    </div>
                    <!--fine sidebar-contacts-->


                </section>
                <!--fine sidebar-->

                <!--inizio main-->
                <section class="app-main">


                    <!--inizio main nav-->
                    <section class="main-nav">
                        <div class="flex">
                            <div class="flex gap-14">
                                <div class="chat-avatar">
                                    <img class="avatar" :src="contacts[currentContactindex].avatar" alt="">
                                </div>
                                <div class="avatar-info">
                                    <div class="avatar-name">{{ contacts[currentContactindex].name }}</div>
                                    <div class="avatar-last-access">Ultimo accesso oggi alle 16:26</div>
                                </div>
                            </div>
                            <div class="main-tools">
                                <ul class="flex">
                                    <li><a href="#"><i class="fa-solid fa-magnifying-glass"></a></i></li>
                                    <li><a href="#"><i class="fa-solid fa-paperclip"></a></i></li>
                                    <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></a></i></li>
                                </ul>
                            </div>

                        </div>
                    </section>

                    <section class="chat-area">
                        <ul class="block-message">
                            <li v-for="(messageObject, i) in contacts[currentContactindex].messages"
                                :class="messageObject.status">
                                <div>{{messageObject.message}}</div>
                                <div class="text-menu">
                                    <div class="dropdown">
                                        <a href="#"><i class="fa-solid fa-angle-down"></i></a>
                                        <div class="dropdown-content">
                                            <p><a href="#" @click="removeMessage(i)">cancella</a></p>
                                            <p><a href="#">condividi</a></p>
                                            <p><a href="#">modifica</a></p>

                                        </div>
                                    </div>
                                    <span class="timing">16:15</span>
                                </div>
                            </li>
                        </ul>


                    </section>

                    <section class="main-message">

                        <div class="emoticon col-5"><a href="#"><i class="fa-regular fa-face-smile"></i></a></div>
                        <div class="text-here col-90">
                            <textarea name="text" @keyup.enter="addMessage" cols="90" rows="2"
                                placeholder="Scrivi un messaggio" v-model.trim="userText"></textarea>
                        </div>
                        <div class="mic col-5"><a href="#"><i class="fa-solid fa-microphone"></i></a></div>

                    </section>
            </div>
        </div>
    </div>
    <script>

    </script>
    <script src="./js/app.js"></script>
</body>

</html>